<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHATEVER</title>
</head>
<body>
    <h1>Login Form</h1>
    <form action="/login" method="post">
        <label for="latitude">Latitude:</label>
        <input type="number" step="any" id="latitude" name="latitude"><br>
        <br>
        <label for="longitude">Longitude:</label>
        <input type="number" step="any" id="longitude" name="longitude"><br>
        <br>
        <label for = "y">Yield:</label>
        <input type="number" step = "any" id="y" name="y"><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>
